
    body {
      font-family: Arial, sans-serif;
     background-color: #f1d7be;
      margin: 0;
      padding: 20px;
    }
    .container {
    
      margin: 0 auto;
      background: white;
      padding: 20px;
      border-radius: 8px;
      border: 2px solid #8d4925; padding: 20px; display: inline-block;
    
    }
    .acerca {
    
      margin: 0 auto;
      background: white;
      padding: 20px;
      border-radius: 8px;
      
    }
    h1 {
      color: #333;
      text-align: center;
    }
    h2 {
      color: #666;
      text-align: center;
    }
 
    div{
      max-width: 850px;  
    
    }
    
      Audio{
        text-align: center;
      }
   
   img {
    width: 350px; 
    height: 400px;
    overflow: hidden; 
    border-radius: 50%;
    position: relative;
}
.imageneslibros {
    width: 300px;
    border-radius: 0; 
}
a {
  color: #000000;  
}

